@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-dark: #1f1f1f;
  --background-light: #f1f1f1;
  --text-dark: #1f1f1f;
  --text-light: #f1f1f1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-global {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #2c2b2b;
  gap: 150px;
}

.container {
  display: flex;
  flex-grow: 1;
}